:root {
    --hvid: #EFF0EF;
    --sand:#D9CDB8; 
    --sort: #292929;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: var(--sort);
}

a:hover {
    color: black;
}

#header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100vw;
    transition: 0.5s;
}

#header-top.sticky {
    background: #fff;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

#header.sticky .logo-top{
    color: #111;
}

#header.sticky ul li a {
    color: #111;
}

.logo-top {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 600px;
    align-self: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    padding-bottom: 10px;

}

.separator {
    border-right: 2px solid var(--black);
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.intro {
    height: 100vh;
    background-image: url(baggrund.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.velkommen {
    height: 100vh;
    background-color: var(--sand);
    display: flex;
    flex-direction: row;

}
.velkommen-intro {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.velkommen-intro h2 {
    font-size: 50px;
}
.velkommen-intro h3 {
    font-size: 40px;
}
.velkommen-video {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ombast {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ombast h2 {
    margin-top: 50px;
    font-size: 50px;
}

.ombast-separator {
    width: 300px;
    border-top: solid 2px var(--sort);
    margin-top: 30px;
    margin-bottom: 50px;
}

#ombast p {
    width: 75vw;
    text-align: center;
    font-size: 25px;
}
#more {
    display: none;
}
#tagbastmedhjem {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sand);
}

#tagbastmedhjem h2 {
    margin-top: 50px;
    font-size: 50px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.bastmedhjem-tekst {
    width: 50vw;
}
.bastmedhjem-tekst p {
    margin-left: 8vw;
    margin-right: 5vw;
    font-size: 25px;
}
.bastmedhjem-billede {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
}
.bastmedhjem-billede img {
    width: 55%;
}

#myBtn {
    margin-top: 10px;
    width: 75px;
    height: 25px;
    border-radius: 10px;
    color: var(--hvid);
    background-color: var(--sort);
}
#lokation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lokation h2 {
    margin-top: 50px;
    font-size: 50px;
}

.lokationen {
    width: 50vw;
}
.lokationen iframe {
    margin-left: 8vw;
}

#mobilemap {
    display: none;
}

.abningstider {
    width: 50vw;
    margin-left: 30px;
}
.abningstider-separator {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: solid 2px var(--sort);
    width: 40px;
}
.abningstider p {
    font-size: 25px;
}

#instagram {
    height: 100vh;
    background-color: var(--sand);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#instagram h2 {
    margin-top: 50px;
    font-size: 50px;
}

.bottom {
    height: 50vh;
    background-color: var(--sort);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: var(--hvid);
}

.bottom hr {
    height: 200px;
    border-left: solid 2px var(--hvid);
    border-right: none;
    border-top: none;
    margin-top: 75px;
}
.bottom-overskrift {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center ;
}

.bottom-overskrift h2 {
    font-size: 200px;
    font-weight: 200;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.bottom-kontakt {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center ;
}
.bottom-kontakt p {
    font-size: 25px;
    margin-top: 40px;
}
@media only screen and (max-width: 600px) {
    .intro {
        background-image: url(baggrund-mobile.png);
    }
    .velkommen {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .velkommen-intro {
        width: 75vw;
        margin-top: 35px;

    }
    .velkommen-intro h2 {
        font-size: 30px;
    }
    .velkommen-intro h3 {
        font-size: 25px;
    }
    .velkommen-video {
        width: 80vw;

    }
    #tagbastmedhjem {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: var(--sand);
    }
    
    #tagbastmedhjem h2 {
        margin-top: 20px;
        font-size: 30px;
        padding-bottom: 20px;

    }
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    .bastmedhjem-tekst {
        width: 90vw;
    }
    .bastmedhjem-tekst p {
        margin-left: 8vw;
        margin-right: 5vw;
        font-size: 20px;
    }
    .bastmedhjem-billede {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items:center;
    }
    /*Victor*/
    /*Jacob*/
    .bastmedhjem-billede img {
        width: 60%;
        margin-top: 5px;
        align-self: flex-start;
        margin-left: 8vw;
    }

    #lokation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #lokation h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    
    .lokationen {
        width: 90vw;
    }
    .lokationen iframe {
        margin-left: 2vw;
    }

    #mobilemap {
        display: block;
    }

    #webmap { 
        display: none;
    }
    
    .abningstider {
        width: 90vw;
        margin-left: 10px;
    }
    .abningstider-separator {
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: solid 2px var(--sort);
        width: 40px;
    }
    .abningstider p {
        font-size: 25px;
    }
    #instagram {
        height: 110vh;
        background-color: var(--sand);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    #instagram h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    .instagram-posts {
        height: 700px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .instagram-posts iframe {
        width: 60%;
        height: 40%;
    }
    .bottom {
        height: 55vh;
        background-color: var(--sort);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        color: var(--hvid);
    }
    
    .bottom hr {
        width: 200px;
        border-bottom: solid 2px var(--hvid);
        border-right: none;
        border-top: none;
        margin-top: 20px;
        height: 0px;
    }
    .bottom-overskrift {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items:center ;
    }
    
    .bottom-overskrift h2 {
        font-size: 100px;
        margin-top: 40px;
    }
    .bottom-kontakt {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items:center ;
    }
    .bottom-kontakt p {
        font-size: 25px;
        margin-top: 40px;
    }
    .flex-row {
        align-items: center;
        align-content: center;
    }
}